.header {
  font-family: $fontmain;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: $coloritem;
  &__button {
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  &__title {
    font-size: 30px;
    text-align: center;
    width: 60%;
    @media (min-width: 1200px) {
      width: 80%;
    }
  }
}
